html {
  scroll-behavior: smooth;
}

body {
  font-family: "Carme", sans-serif;
  font-family: "Mohave", sans-serif;
  font-family: "Raleway", sans-serif;
  width: 1190px;
  margin: 0 auto;
  background-color: #DEDEDE;
}

